{block #buttons}
	<a n:href=":Platby:Default:" class="btn btn-primary btn-raised" title="Zpět"><i class="md md-backspace"></i>&nbsp;Zpět</a>
{/block}
		
{block content}
	<div class="">
		{portlet}
		
		{control nahled}
		
		{/portlet}
	</div>
{/block}