{block content}
	<div class="">
		{portlet $title}
		<div class="tab-content" id="nested-sort-structure-view">
			<div class="tabbable-line">
				<ul class="nav nav-tabs">
					<li class=""><a href="{link Edit:, $id}">Údaje</a></li>
					{if $user->isInRole('super')}
					<li class=""><a href="{link Prava:, $id}">Práva</a></li>
					{/if}
				</ul>
				<div class="tab-content">
					{control form}
				</div>
			</div>
		</div>
		{/portlet}
	
	</div>
{/block}