{block #buttons}
	<a n:href="export!" class="btn btn-primary btn-raised" title="Export záloh"><i class="md md-list"></i>&nbsp;Export záloh</a>
{/block}
		
{block content}
	<div class="">
		{portlet}
		
		{control year}
		
		{control grid}
		
		{/portlet}
	</div>
{/block}