{block #buttons}
	<a n:href=":Helper:Default:" class="btn btn-primary btn-raised" title="Seznam všech nápověd"><i class="md md-list"></i>&nbsp;Seznam všech nápověd</a>
	<a n:href=":Helper:Edit:" class="btn btn-primary btn-raised" title="Vytvořit novou nápovědu"><i class="md md-my-library-add"></i>&nbsp;Vytvořit novou nápovědu</a>
{/block}
		
{block content}
	<div class="">
		{portlet}
		
		{control form}
		
		{/portlet}
	</div>
{/block}