{block content}
<div class="col-md-12">
	<div class="">
		{portlet}
		<style type="text/css">
			.center-div {
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 496px;
				height: 288px;
			}
		</style>
		<div class="alert alert-warning text-center"><b>Přistup odepřen</b></div>
		<div class="center-div"><img src="/dist/errors/error-400.png" width="496" height="288" alt=""/></div>		
		{/portlet}
	</div>
</div>
{/block}