{block content}
<div class="col-md-12">
	<div class="">
		{portlet}
		<style type="text/css">
			.center-div {
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 310px;
				height: 273px;
			}
		</style>
		<div class="alert alert-warning text-center"><b>Požadavek na neexistující adresu</b></div>
		<div class="center-div"><img src="/dist/errors/error-400.png" width="310" height="273" alt=""/></div>
		{/portlet}
	</div>
</div>
{/block}