{block #buttons}
	<a n:href="Default:" class="btn btn-primary btn-raised" title="Seznam faktur"><i class="md md-backspace"></i>&nbsp;Zpět na seznam</a>
{/block}
		
{block content}
	<div class="">
		{portlet}
		
		{control view}
		
		{/portlet}
	</div>
{/block}