{block #buttons}
	<a href="{link Default:}" class="btn btn-raised btn-primary" title="Seznam rolí"><i class="md md-list"></i> Seznam rolí</a>
{/block}

{block content}
	<div class="">
		{portlet $title}
		{control editForm}
		{/portlet}
	</div>
{/block}