<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$options->title} - Zapomenuté heslo</title> 
</head>
<body>
    <table style="width: 800px;">
	    <tr>
	    	<td colspan="2" style="width: 800px; height: 55px;">&nbsp;</td>
	    </tr>
    	<tr>
    		<td style="width: 70px;">&nbsp;</td>
	    	<td><p style="margin: 15px 0;">Dobrý den {$name},</p>
    			<p style="margin: 15px 0;">byl Vám vygenerován jednorázový odkaz pro nastavení nového hesla, tento bude platný jeden den, nebo do provedení změny hesla.</p>
	    		<p style="margin: 15px 0;">Heslo si můžete změnit na adrese <a href="{plink :Sign:Forgot:, token => $token}">
					{plink :Sign:Forgot:}</a>.</p>
    		</td>
    	</tr>
    </table>
</body>
</html>