{block #buttons}
	<a n:href=":Platby:Default:" class="btn btn-primary btn-raised" title="Seznam plateb"><i class="md md-list"></i>&nbsp;Seznam plateb</a>
{/block}

{block content}
	<div class="">
		{portlet}
		...
		{/portlet}
	</div>
{/block}